@import './base.css';

body {
  display: flex;
  place-items: center;
}

#app {
  width: 380px;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: normal;
  grid-template-columns: 1fr 1fr;
}

.checkpoint-button {
  background-color: var(--color-button) !important;
  color: white !important;
  border-radius: 100px !important;
  height: 40px !important;
  padding: 0 20px 0 !important;
  text-transform: none !important;
}

.checkpoint-secondary-button {
  background-color: var(--color-background) !important;
  color: var(--color-button) !important;
  border-radius: 100px !important;
  height: 40px !important;
  padding: 0 20px 0 !important;
  text-transform: none !important;
}

.checkpoint-secondary-button > .v-btn__content {
  font-weight: bold;
}

.checkpoint-lang-button {
  background-color: #efe2bb !important;
  color: var(--color-button) !important;
  border-radius: 100px !important;
  border-radius: 100%;
  height: 48px !important;
  width: 48px !important;
  min-width: 0 !important;
}

.checkpoint-lang-button > .v-btn__content {
  font-weight: bold;
}

.opacity-text {
  opacity: 0.2;
}
